{% extends 'main.html' %}
{% load static %}

{% block content %}

    <section id="galang-dana">
        <div class="nav-donasi mb-5 py-2">  
            <div class="container">
              <div class="row text-start">
                <a class="col-3" href=""><img src="{% static 'img/arrow-back.png' %}" alt=""></a>
                <h1 class="col-9 ps-5">FORM GALANG DANA</h1>
              </div>
            </div>
        </div>

        <div class="container form-gdana">
            <form method="post" class="ps-4 py-4" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                  <label class="form-label">Judul Donasi</label>
                  {{ form.name }}
                </div>
                
                <div class="mb-3 pt-4">
                  <label class="form-label">Target Dana</label>
                  {{ form.fund_target }}
                </div>

                <div class="mb-3 pt-4">
                  <label class="form-label">Lama Galang Dana Berlangsung</label>
                  {{ form.time_span }}
                </div>

                <div class="mb-3">
                    <label for="formFile" class="form-label">Thumbnail</label>
                    {{ form.thumbnail }}
                </div>

                <div class="mb-3 pt-4">
                  <label class="form-label">Penerima Dana</label>
                  {{ form.beneficiary }}
                </div>

                <div class="mb-3 pt-4">
                  <label class="form-label">Kategori</label>
                  {{ form.category }}
                </div>

                <div class="mb-3 pt-4">
                  <label class="form-label">Cerita Penggalangan Dana</label>
                  {{ form.fundraising_story }}
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
                <br>
                <br>
              </form>
        </div>


    </section>

{% endblock content %}